.wrapper {
  /* 글꼴 설정 */
  font-family: 'Noto Serif KR', serif;
  font-size: 4rem;
  text-align: center;
  color: #fff;

  /* 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 배경이미지 */
  background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, rgba(255,255,255,.4) 4px, rgba(255,255,255,.4) 6px ), url(bg.jpg);
  background-size: auto, cover;
  height: 100vh;
}